<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> This is the sign in page</h1>

    <form id="employee-sign-in-form" action="/api/employeessignin" method="post">
    Email: <input id="email" type="text" name="email">
    Password <input id="password" type="password" name="password">

    <button> Submit </button>
    </form>
</body>
</html>
