
<nav>
    <ul>
        <li><a href="/employees/employeessignin">Sign In</a></li>
        <li><a href="/employees/employeesprofile">Profile</a></li>
        <li><a href="/employees/">Home</a></li>
    </ul>
</nav>
