<!--<nav>-->
<!--    <ul>-->
<!--        <li><a href="/users/signup">Sign Up</a></li>-->
<!--        <li><a href="/users/signin">Sign In</a></li>-->
<!--        <li><a href="/users/profile">Profile</a></li>-->
<!--        <li><a href="/users/">Home</a></li>-->
<!--        <li><a href="/users/addemployee">Add employee</a></li>-->
<!--    </ul>-->
<!--</nav>-->
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/users">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/users/signup">Sign Up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users/signin">Sign In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users/profile">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users/addemployee">Add employee</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users/allemployees">All employees</a>
                </li>

            </ul>
            <form id="search-form" class="form-inline my-2 my-lg-0" action="/users/searchResults">
                <input class="form-control mr-sm-2" id= "search" type="search" name="firstname" placeholder="Search Employee" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="btnSubmit">Search</button>
            </form>
        </div>
    </nav>
</div>
