<nav class="navbar navbar-expand-lg navbar-light bg-light mr-auto">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item">
                <a class="nav-link" href="/staff">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"  href="/staff/profile/<%= userID %>">My Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/staff/requests">My Requests</a>
            </li>
        </ul>
        <div id="button">
            <form action="/api/signout" method="post">
                <button style="margin-left:70px"class="btn btn-primary" type="submit"> Logout </button>
            </form>
        </div>
    </div>
</nav>

<style>
    #button{
        /* margin-left:910px; */
        font-size: 16px;
        font-weight: bold;
        border-radius: 3px;
        border: none;
        /* margin-top: 0px; */
        min-width: 50px;
        outline: none !important;
    }
</style>
