<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<%- include('partials/cssPartials') %>
<body>

    <%- include('partials/nav') %>
    <h1>Add Employee</h1>

    <form action="/api/addemployee" method="post">
        First name: <input type="text" name="firstname"> 
        Last name: <input type="text" name="lastname">
        Jobtitle: <input type="text" name="jobtitle">
        Employee number: <input type="text" name="employeenumber">
        Email <input type="email" name="email">
        <button> Submit </button>
    </form>
    
</body>
</html>