<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>

<%- include('partials/nav') %>

<class="welcome">
  <h2 class = 'welcome'>Welcome <%= username%></h2>
 <form action="/api/signout" method="post">
  <button type="submit"> Logout </button>
 </form>
 <a href="users/profile"><button> Profile </button></a>
</body>
</html>
