<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<%- include('partials/cssPartials') %>
<style>

</style>
<body>

<%- include('partials/nav') %>

<div class="welcome">
  <h2 class = 'welcome'>Welcome <%= email%></h2>
<br>

<br>
 <form action="/api/signout" method="post">
  <button type="submit"> Logout </button>
 </form>
</div>
<%- include('partials/jsPartials') %>

</body>
</html>
