<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<%- include('partials/nav') %>

<br>
<br>

    
<ul>
<% foundUsers.rows.forEach(function(user){ %> 
    <li>
    <p><%= user.first_name %> <%= user.last_name %> <%= user.employee_number %></p>
     </li>
    <% }); %>
</ul>


</body>
</html>