<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<%- include('partials/nav') %>
    <h1 class ="signin"> This is the sign in page</h1>

    <form id="sign-in-form" action="/api/signin" method="post">
    Username: <input id="username" type="text" name="username">
    Password <input id="password" type="password" name="password">

    <button> Submit </button>
    </form>
</body>
</html>
