<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Signup Page</title>
</head>
<%- include('partials/cssPartials') %>

<body>
<%- include('partials/nav') %>


<form id="sign-up-form" action="/api/signup" method="post">
    Username: <input id="username" type="text" name="username">
    Password: <input id="password" type="password" name="password">
    Email Address: <input id="email" type="email" name="email">
    <button>Submit</button>
</form>
</body>
</html>
