<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is the sign in page</h1>

    <form action="/api/signin" method="post">
    Username: <input type="text" name="username"> 
    Password <input type="password" name="password">
    <button> Submit </button>
    </form>
</body>
</html>