<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Requests Page</title>
    <%- include('partials/cssPartials')%>

</head>
<body>
<%- include('partials/nav')%>

<div class="container">
    <div class="user">
        <% for (let i = 0; i < requests.length; i++) { %>

        <div class="col">

            <div class="col-sm-6">
                    <div class="container">
                        <h3>Request ID : <%=requests[i].id %></h3>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" name="laptop" value="true" type="checkbox" id="inlineCheckbox1" <% if (requests[i].laptop) { %> checked <%}%> disabled>
                                <label class="form-check-label"  for="inlineCheckbox1">Laptop ordered?</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" name="developer_laptop" value="true" type="checkbox" id="inlineCheckbox2" <% if (requests[i].developer_laptop) { %> checked <%}%> disabled>
                                <label class="form-check-label" for="inlineCheckbox2">Developer laptop ordered?</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" name="monitor" value="true" type="checkbox" id="inlineCheckbox3" <% if (requests[i].monitor) { %> checked <%}%> disabled>
                                <label class="form-check-label" for="inlineCheckbox3">Monitor ordered?</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" name="phone" value="true" type="checkbox" id="inlineCheckbox3" <% if (requests[i].phone) { %> checked <%}%> disabled>
                                <label class="form-check-label" for="inlineCheckbox3">Mobile ordered?</label>
                            </div>
                    </div>
            </div>

        </div>
        <% } %>

    </div>
</div>


<%- include('partials/jsPartials')%>

</body>
</html>