<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Requests Page</title>
    <%- include('partials/cssPartials')%>

</head>
<body>
<%- include('partials/nav')%>

<div class="container">
    <div class="user">
        <div class="col">

            <div class="col-sm-6">
                <% for (let i = 0; i < requests.length; i++) { %>

                    <div class="row">

                        <div class="card mt-5">
                            <div class="card-body">
                                <h5 class="card-title">Special title treatment</h5>
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>

        </div>

    </div>
</div>


<%- include('partials/jsPartials')%>

</body>
</html>